Value network (\S+)
Value mask (\d+)
Value distance (\d+)
Value metric (\d+)
Value List nexthop (\S+)

Start
  ^O -> Continue.Record
  ^O +${network}/${mask}\s\[${distance}\/${metric}\]\svia\s${nexthop},
  ^\s+\[${distance}\/${metric}\]\svia\s${nexthop},

